body {
    font-family: sans-serif, monospace;
    min-height: 400px;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container {
    /* Centraliza tudo dentro do container*/
    text-align: center;
    /* Da um espaço de 25px na parte de cima*/
    padding: 10px;
    height: 150vh;
    background-image: url("https://cdn.pixabay.com/photo/2017/09/07/08/54/money-2724241_960_720.jpg");
    background-repeat: no-repeat;
}

.page-title {
    color: #BB2020;
    font-size: 2em;
}

.page-subtitle {
    color: #06111C;
    font-size: 25px;
}

.page-logo {
    width: 80px; 
    padding: 10px;   
}

.alura-logo {
    width:60px;
    position: absolute;
    top: 10px;
    right:10px;
}